appnope==0.1.0
decorator==4.0.9
docutils==0.12
gnureadline==6.3.3
ipython==4.1.2
ipython-genutils==0.1.0
lockfile==0.12.2
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
psutil==4.1.0
psycopg2==2.6.1
ptyprocess==0.5.1
py==1.4.31
pyCLI==2.0.3
pytest==2.9.1
pytest-ordering==0.4
python-daemon==2.1.1
simplegeneric==0.8.1
traitlets==4.2.1
